:root {
  --dark: #011627;
  --dark-menu: #09253b;
  --light: #fdfffc;
  --danger: #ff0022;
  --primary: #41ead4;
  --secondary: #b91372;
  --btn-active: #cf147e;
  --border: rgba(198, 194, 221, 0.15);
}
