extends ./templates/template

block content
   .auth-form-container#auth-container
      
      form.auth-form#auth-form(method="POST",action="/login",data-form="login")
         h2.form-title SignUp
         .auth-accounts
            a.auth-btn(href="#"): i.fab.fa-google
            a.auth-btn(href="#"): i.fab.fa-facebook-square
            a.auth-btn(href="#"): i.fab.fa-github
         .form__control
            input.control(type="text", name="username", id="username",placeholder="Username")
         .form__control
            input.control(type="password",name="password", id="password",placeholder="Password")
         button.btn-form#btn-login(type="submit") Login
         
         .form__footer
            p.desc You do not have an account? 
               a.form__link(href="/register") Sign Up Free
            p.desc: a.form__link(href="/reset-pass") Did you forget your password?