header.header
   .logo: a.logo__link(href="/"): h2.title-logo UpTaks
   .bars-menu#icon-menu: .icon-menu
   nav.menu-container#main-menu
      .auth-btn-container
         a.auth-btn(href="/register")
            i.fas.fa-user-lock.btn-menu-icon
            | Register
         a.auth-btn(href="/login")
            i.fas.fa-user.btn-menu-icon
            | Login
      ul.menu
         li.menu__item: a.menu__link(href="#")  My Proyects
         li.menu__item: a.menu__link(href="#")  Create Proyects